@page "/studentdetail/{id}"

<h3>Detail Student</h3>
<p>Nim : @Student.studentID</p>
<p>Nama Belakang : @Student.lastName</p>
<p>Nama Depan : @Student.firstName</p>
<p>Tanggal Masuk : @Student.enrollmentDate</p>