@page "/studentpage"

<h3>List of Students</h3>

<table class="table caption-top">
  <caption>
    List of Students
  </caption>
  <thead>
    <tr>
      <th scope="col">Nim</th>
      <th scope="col">Nama Belakang</th>
      <th scope="col">Nama Depan</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      Jun
    </tr>
    <tr>
      Junaidi
    </tr>
    <tr>
      26 Nov
    </tr>
  </tbody>
</table>